# packaging
pip>=9
setuptools>=26
numpy
pandas
fastapi
python-dotenv
sqlalchemy
twine
uvicorn
psycopg2
flask
geoalchemy2

pydantic
geojson_pydantic
shapely
python-jose
email-validator
passlib
python-multipart
PyJWT

